html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

:root {
  --header-bg: #012D63;
  --menu-link:#C7C7C7;
  --footer-bg:#021635;
  --text-color: #fff;
  --order-color:#959595;
  --confirm-color:#8D8D8D;
  --hero-button-color:#8E32C6;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 1110px) {
  .container {
    max-width: 1110px;
  }
}

@media screen and (min-width: 1110px) {
  .header {
    top: 0;
    height: 90px;
    background-color: var(--header-bg);
    position: sticky;
    z-index: 5;
  }
}

.nav {
  display: flex;
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
}

.header_logo {
  display: block;
  padding-top: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 152px;
}
@media screen and (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

.menu_link {
  margin-right: 28px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--menu-link);
}

.menu_item:last-child {
  margin-right: 0px;
}

.menu_link:hover,
.menu_link:focus {
  color: var(--text-color);
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .language {
    display: none;
  }
}

.language_ru,
.language_en {
  margin-left: 5px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.16;
  color: #DCDCDC;
  cursor: pointer;
}

.language_ru:hover,
.language_en:hover {
  color: var(--text-color);
}

.button-mobile {
  position: absolute;
  z-index: 120;
  background-color: transparent;
  border: none;
  display: -webkit-box;
}
@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

.icon-mobile {
  width: 45px;
  height: 25px;
  margin-left: 280px;
  margin-top: 44px;
}

.menu-close {
  display: none;
}

.is-open .menu-close {
  display: block;
}
.is-open .menu-icon {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 40px;
  width: 100%;
  height: 738px;
  flex-direction: column;
  background: #021635;
  opacity: 0.9;
  transition: right 0.5s;
}
.mobile-menu.is-open {
  right: 0;
}

.menu-mobile {
  padding-top: 50px;
}

.menu-mobile_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #C7C7C7;
  margin-bottom: 57px;
}

.mobile-language {
  justify-content: center;
  text-align: center;
  display: flex;
}

.mobile-language_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #C7C7C7;
}

.menu--curren {
  color: wheat;
}

.hero {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}
@media screen and (min-width: 360px) {
  .hero {
    background-image: url(../../images/mobile/bg-1.png);
    height: 734px;
    position: relative;
  }
}
@media screen and (min-width: 1110px) {
  .hero {
    background-image: url(../../images/desktop/hero-desktop.png);
    height: 948px;
    text-align: center;
  }
}

@media screen and (min-width: 360px) {
  .hero__blok {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1110px) {
  .hero__blok {
    width: 640px;
    text-align: start;
  }
}

.hero__logo {
  display: block;
}
@media screen and (min-width: 360px) {
  .hero__logo {
    width: 96px;
    height: 72px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1110px) {
  .hero__logo {
    height: 85px;
  }
}

.hero__logo-text {
  font-family: "PT Serif";
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .hero__logo-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1110px) {
  .hero__logo-text {
    font-size: 48px;
    line-height: 1.33;
    margin-bottom: 0px;
    margin-left: 20px;
  }
}

.hero__title {
  font-family: "Playfair Display", sans-serif;
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .hero__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1110px) {
  .hero__title {
    font-size: 144px;
    line-height: 1.33;
    margin-bottom: -20px;
  }
}

.hero__second-title {
  font-family: "Playfair Display";
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .hero__second-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1110px) {
  .hero__second-title {
    font-size: 72px;
    line-height: 1.33;
    margin-bottom: 12px;
  }
}

.hero__text {
  display: block;
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .hero__text {
    margin-bottom: 71px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 305px;
  }
}
@media screen and (min-width: 1110px) {
  .hero__text {
    font-size: 18px;
    line-height: 1.16;
    width: 500px;
  }
}

.button {
  border: none;
  padding: 20px 61px;
  display: block;
  border-radius: 10px;
  font-size: 24px;
  line-height: 1.16;
  background-color: var(--hero-button-color);
  color: var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 360px) {
  .button {
    padding: 15px 53px;
    z-index: 2;
    position: absolute;
    margin-left: 50px;
  }
}
.button:hover, .button:focus {
  background-color: var(--text-color);
  color: var(--hero-button-color);
}

.hero__blok-img {
  background-image: url(../../images/desktop/nike-desktop.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 768px;
}
@media screen and (min-width: 360px) {
  .hero__blok-img {
    width: 510px;
    margin-left: -100px;
    margin-top: -320px;
  }
}
@media screen and (min-width: 1110px) {
  .hero__blok-img {
    width: 840px;
    margin-top: -400px;
    margin-left: 200px;
  }
}

@media screen and (min-width: 360px) {
  .our-advantages {
    background-image: url(../../images/mobile/bg-2.png);
    display: block;
  }
}
@media screen and (min-width: 1110px) {
  .our-advantages {
    padding-top: 55px;
    padding-bottom: 80px;
    height: 606px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background-image: url(../../images/desktop/group-1-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 360px) {
  .our-advantages__list {
    display: inline;
  }
}
@media screen and (min-width: 1110px) {
  .our-advantages__list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 360px) {
  .our-advantages__item {
    text-align: center;
    display: flex;
    margin-right: 0px;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .our-advantages__item {
    margin-right: 101px;
  }
}

.our-advantages__item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 360px) {
  .storage {
    background-image: url(../../images/mobile/fl2-bg-3.png), url(../../images/mobile/fl-bg-3.png), url(../../images/mobile/bg-3.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px, bottom 0px right 0px, center;
    background-size: 96px, 140px, cover;
    height: 360px;
  }
}
@media screen and (min-width: 1110px) {
  .storage {
    padding-top: 63px;
    padding-bottom: 82px;
    height: 606px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background-image: url(../../images/desktop/group-2-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.storage__group {
  position: relative;
}

.storage__group-text {
  position: absolute;
  font-family: "Playfair Display";
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .storage__group-text {
    font-size: 14px;
    line-height: 19px;
    margin-left: 60px;
    margin-top: 250px;
  }
}
@media screen and (min-width: 1110px) {
  .storage__group-text {
    margin-left: 850px;
    margin-top: -10px;
    font-size: 28px;
    line-height: 37px;
  }
}

.storage__group-vector {
  position: absolute;
}
@media screen and (min-width: 360px) {
  .storage__group-vector {
    height: 145px;
    transform: rotate(180deg);
    margin-left: 60px;
    margin-top: -20px;
    margin-right: 20px;
    width: 185px;
  }
}
@media screen and (min-width: 1110px) {
  .storage__group-vector {
    transform: rotate(-1deg);
    width: 403px;
    height: 183px;
    margin-top: -370px;
    margin-left: 680px;
  }
}

.storage__group-mask {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
}
@media screen and (min-width: 360px) {
  .storage__group-mask {
    width: 45px;
    margin-left: 228px;
    margin-top: -68px;
    margin-top: -60px;
  }
}
@media screen and (min-width: 1110px) {
  .storage__group-mask {
    width: 130px;
    margin-left: 600px;
    margin-top: -200px;
  }
}

.storage__button {
  z-index: 1;
  background: linear-gradient(91.33deg, #8E32C6 15.44%, #D600C0 69.67%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: #FFFFFF;
  position: relative;
}
@media screen and (min-width: 360px) {
  .storage__button {
    width: 305px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 6px;
    margin-top: 150px;
  }
}
@media screen and (min-width: 1110px) {
  .storage__button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    width: 715px;
    padding: 26px 64px;
    margin-right: 220px;
    margin-top: 10px;
  }
}
.storage__button::before, .storage__button::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 15px;
  height: 100%;
  background: transparent;
  transition: all 1s ease-out;
  opacity: 0;
}
.storage__button:hover::before {
  opacity: 1;
  z-index: -1;
  bottom: -4px;
  left: 4px;
  width: calc(100% - 8px);
  background: linear-gradient(91.33deg, rgba(142, 50, 198, 0.6) 15.44%, rgba(214, 0, 192, 0.6) 69.67%);
}
.storage__button:hover::after {
  opacity: 1;
  z-index: -2;
  bottom: -8px;
  left: 8px;
  width: calc(100% - 16px);
  background: linear-gradient(91.33deg, rgba(142, 50, 198, 0.6) 15.44%, rgba(214, 0, 192, 0.6) 69.67%);
}

.echoes {
  padding-top: 35px;
  padding-bottom: 70px;
  height: 522px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  background-image: url(../../images/desktop/flower-desktop.png), url(../../images/group3-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px, center;
  background-size: 360px, cover;
}

.echoes_title {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--text-color);
}

.echoes__list {
  display: flex;
  justify-content: flex-end;
}

.fon {
  z-index: 1;
  display: block;
  padding-top: 49px;
  padding-left: 18px;
  padding-right: 9px;
  width: 255px;
  height: 292px;
  border: none;
  border-radius: 15px;
  margin-right: 94px;
  position: relative;
}

.fon:last-child {
  margin-right: 0px;
}

.echoes__item1 {
  background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
}
.echoes__item1::before, .echoes__item1::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 15px;
  height: 100%;
  background: transparent;
  transition: all 1s ease-out;
  opacity: 0;
}
.echoes__item1:hover::before {
  opacity: 1;
  z-index: -1;
  bottom: -4px;
  left: 4px;
  width: calc(100% - 8px);
  background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
}
.echoes__item1:hover::after {
  opacity: 1;
  z-index: -2;
  bottom: -8px;
  left: 8px;
  width: calc(100% - 16px);
  background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
}

.echoes__item2 {
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
}
.echoes__item2::before, .echoes__item2::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 15px;
  height: 100%;
  background: transparent;
  transition: all 1s ease-out;
  opacity: 0;
}
.echoes__item2:hover::before {
  opacity: 1;
  z-index: -1;
  bottom: -4px;
  left: 4px;
  width: calc(100% - 8px);
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
}
.echoes__item2:hover::after {
  opacity: 1;
  z-index: -2;
  bottom: -8px;
  left: 8px;
  width: calc(100% - 16px);
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
}

.echoes__item3 {
  background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
}
.echoes__item3::before, .echoes__item3::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 15px;
  height: 100%;
  background: transparent;
  transition: all 1s ease-out;
  opacity: 0;
}
.echoes__item3:hover::before {
  opacity: 1;
  z-index: -1;
  bottom: -4px;
  left: 4px;
  width: calc(100% - 8px);
  background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
}
.echoes__item3:hover::after {
  opacity: 1;
  z-index: -2;
  bottom: -8px;
  left: 8px;
  width: calc(100% - 16px);
  background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
}

.echoes__text {
  text-align: start;
  font-size: 24px;
  line-height: 1.16;
  color: var(--text-color);
}

.echoes__time {
  text-align: start;
  font-size: 14px;
  line-height: 1.14;
  color: var(--confirm-color);
}

.echoes__name {
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
}

.echoes__deit {
  font-size: 12px;
  line-height: 1.16;
  color: var(--confirm-color);
}

.application {
  padding-top: 55px;
  padding-bottom: 80px;
  height: 510px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  background-image: url(../../images/desktop/group-4-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.application_title {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--text-color);
}

.application__form {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 600px;
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
}

.form-field:focus-within {
  background-color: blue;
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-50px);
}

.form--button {
  display: inline-block;
}

.application-button {
  margin-left: 150px;
  padding: 20px 61px;
  display: block;
  border-radius: 10px;
  font-size: 24px;
  line-height: 1.16;
  background-color: var(--hero-button-color);
  color: var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.application-button:hover, .application-button:focus {
  background-color: var(--text-color);
  color: var(--hero-button-color);
}

.footer {
  background-color: #021635;
}
@media screen and (min-width: 360px) {
  .footer {
    height: 388px;
    padding: 10px 21px 29px 28px;
  }
}
@media screen and (min-width: 1110px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 50px;
    height: 292px;
  }
}

@media screen and (min-width: 360px) {
  .footer-container1 {
    margin-bottom: 12px;
    border-bottom: 1px solid #5E5E5E;
    display: block;
  }
}
@media screen and (min-width: 1110px) {
  .footer-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #5E5E5E;
  }
}

@media screen and (min-width: 360px) {
  .footer-container2 {
    display: flex;
  }
}
@media screen and (min-width: 1110px) {
  .footer-container2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.footer-list {
  color: #FFFFFF;
}
@media screen and (min-width: 360px) {
  .footer-list {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1110px) {
  .footer-list {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 360px) {
  .footer-email {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media screen and (min-width: 1110px) {
  .footer-email {
    margin-left: auto;
  }
}

.footer-item {
  margin-bottom: 10px;
}

.footer-email__item {
  margin-bottom: 10px;
}

.footer-email__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #FFFFFF;
}
@media screen and (min-width: 360px) {
  .footer-email__link {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1110px) {
  .footer-email__link {
    font-size: 24px;
    line-height: 28px;
  }
}

.footer-list__rights-reserved {
  color: #FFFFFF;
}
@media screen and (min-width: 360px) {
  .footer-list__rights-reserved {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1110px) {
  .footer-list__rights-reserved {
    font-size: 18px;
    line-height: 21px;
  }
}

.footer-list__country {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #FFFFFF;
}

.footer_logo {
  display: block;
}
@media screen and (min-width: 360px) {
  .footer_logo {
    width: 65px;
  }
}
@media screen and (min-width: 1110px) {
  .footer_logo {
    margin-top: -10px;
    width: 108px;
  }
}

.footer__logo-text {
  display: block;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
@media screen and (min-width: 360px) {
  .footer__logo-text {
    margin-left: 10px;
    font-size: 14px;
    line-height: 19px;
  }
}
@media screen and (min-width: 1110px) {
  .footer__logo-text {
    font-size: 24px;
    line-height: 32px;
    margin-left: 10px;
  }
}

/* Modal */
.backdrop {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-image: url(../../images/desktop/flower-desktop.png), url(../../images/desktop/group5-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px, center;
  background-size: 355px, cover;
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  min-height: 1024px;
  display: flex;
  justify-content: space-between;
}

.modal-visa {
  position: relative;
  display: flex;
  display: block;
  margin-left: 167px;
  margin-top: 100px;
  margin-bottom: 25px;
  width: 575px;
  background: rgba(168, 168, 168, 0.26);
}

.modal-title {
  text-align: center;
  padding-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

.blok-form {
  display: flex;
}

.visa-form {
  margin-right: 65px;
  padding-left: 27px;
  padding-bottom: 22px;
}

.text-form {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.visa-form__number {
  padding: 9px 6px;
  background: #2C4D74;
  border: 1px solid #000000;
  max-width: 194px;
  margin-bottom: 20px;
}

.visa-form__number::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
}

.visa-form__date {
  padding: 9px 6px;
  background: #2C4D74;
  border: 1px solid #000000;
  width: 67px;
}

.visa-form__date::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
}

.master-visa {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.master {
  width: 125px;
  margin-right: 13px;
  display: block;
  background-color: #fff;
  padding: 18px;
}

.visa {
  width: 125px;
  margin-right: 13px;
  display: block;
  background-color: #fff;
  padding: 28px 10px;
}

.checkbox-input:checked {
  width: 50px;
  height: 50px;
}

.checkbox-input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox-icon {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  border: 2px solid black;
  border-radius: 3px;
  transition: transform 250ms linear;
}

.checkbox-input:checked + .checkbox-icon {
  transform: scale(1.2);
  background-image: url(../../images/icon/full-check.svg);
  background-color: blue;
  border-color: blue;
  background-size: contain;
  background-origin: border-box;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  bottom: 25px;
  position: absolute;
}

.checkbox-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  transition: transform 250ms linear;
}

.checkbox-input:checked ~ .checkbox-text {
  transform: translateX(20px);
}

.title-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin-left: 366px;
  margin-bottom: 11px;
}

.modal__logo {
  margin-right: 55px;
  display: block;
}

.modal__logo-text {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}

.final-order {
  margin-left: 162px;
}

.final-order__inpur {
  display: block;
  margin-bottom: 28px;
  min-width: 580px;
  height: 50px;
  padding: 10px 108px 8px 22px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50px;
}

.final-order__inpur::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #959595;
}

.nike-form {
  padding: 26px 7px 24px 8px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin-left: 350px;
  margin-bottom: 10px;
}

.nike-form__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
  margin-left: 421px;
}

.button--form {
  margin-left: 325px;
}

/* Form */
.backdrop-form {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop-form.is-hiddenForm {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form {
  background-image: url(../../images/modal-form.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  min-height: 1024px;
}/*# sourceMappingURL=style.css.map */