:root{
    --header-bg: #012D63;
    --menu-link:#C7C7C7;
    --footer-bg:#021635;
    --text-color: #fff;
    --order-color:#959595;
    --confirm-color:#8D8D8D;
    --hero-button-color:#8E32C6;

}

// font-family: 'Playfair Display',
// serif;
// font-family: 'PT Serif',
// serif;

body{   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}