.footer{
    background-color: #021635;
    @media screen and (min-width: 360px) {
        height: 388px;
        padding: 10px 21px 29px 28px;
    }
    @media screen and (min-width: 1110px) {
         padding-top: 45px;
        padding-bottom: 50px;
        height: 292px;
        }
    

}

.footer-container1{
    
    @media screen and (min-width: 360px){
        border-bottom: 1px solid #5E5E5E;
display: block;
}
@media screen and (min-width: 1110px) {
display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #5E5E5E;
    
}


}

.footer-container2 {
    
    @media screen and (min-width: 360px) {
            display: flex;
        }
     @media screen and (min-width: 1110px) {
        display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
                }

}

.footer-list{
    color: #FFFFFF;
        @media screen and (min-width: 360px) {
font-size: 14px;
    line-height: 16px;
        }
        @media screen and (min-width: 1110px) {
    font-size: 24px;
        line-height: 28px;
        }
   
}

.footer-email{
    @media screen and (min-width: 360px){
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    }
         @media screen and (min-width: 1110px){
margin-left: auto;
         }
}

.footer-item{
margin-bottom: 10px;
}

.footer-email__item{
margin-bottom: 10px;
}
.footer-email__link{
    
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        text-decoration-line: underline;
        color: #FFFFFF;
@media screen and (min-width: 360px){
font-size: 14px;
    line-height: 16px
}
@media screen and (min-width: 1110px){
font-size: 24px;
    line-height: 28px;
}        
}


.footer-list__rights-reserved{
color: #FFFFFF;
    @media screen and (min-width: 360px){
font-size: 14px;
    line-height: 16px;
    }
 @media screen and (min-width: 1110px){
font-size: 18px;
    line-height: 21px;
 }
  
}

.footer-list__country{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
}


.footer_logo{
    display: block;
        @media screen and (min-width: 360px) {
            width: 65px;

        }
    @media screen and (min-width: 1110px) {
        margin-top: -10px;
        width: 108px;
}
        }

.footer__logo-text{
display: block;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-left: 10px;
}

