/* Modal */

.backdrop {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 120;
    // background-color: rgba(0, 0, 0, 0.2);
    background-color: rgb(0 0 0 / 0.2);

}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        @media screen and (min-width: 360px) {
background-image: url(../images/mobile/fl-desk3.png), url(../images/mobile/fl-2-desk3.png), url(../images/mobile/bg-desktop2.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px, bottom 0px right 0px,center;
    background-size: 166px, 182px, cover;
    padding: 46px 27px;
    height: 738px;
        }
        @media screen and (min-width: 1110px) {
            background-image: url(../images/desktop/flower-desktop.png), url(../images/desktop/group5-desktop.png);
                background-repeat: no-repeat;
                background-position: bottom 0px left 0px, center;
                background-size: 355px, cover;
                border-radius: 4px;
                padding: 40px;
            
                max-width: 1440px;
                min-height: 1024px;
                display: flex;
                justify-content: space-between;
        }

}

.blok-modal{
    @media screen and (min-width: 360px) {
      padding-top: 80px;
        }
    
        @media screen and (min-width: 1110px){
padding-top: 20px;
        }
}


.modal-visa {
    position: relative;
    display: flex;
    display: block;
    background: rgba(168, 168, 168, 0.26);
    @media screen and (min-width: 360px){
        margin-bottom: 10px;
padding-left: 10px;
   padding-right: 14px;
   padding-bottom: 12px;
    width: 305px;
    }

    @media screen and (min-width: 1110px){
    margin-left: 167px;
    margin-top: 100px;
    margin-bottom: 25px;
    width: 575px;
    
    }
    
    
}

.modal-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
color: #FFFFFF;
text-align: center;
@media screen and (min-width: 360px) {
padding-top: 13px;
font-size: 14px;
line-height: 16px;
    }
@media screen and (min-width: 1110px){
padding-top: 15px;
font-size: 28px;
line-height: 33px;
    }      
}

.blok-form {
    @media screen and (min-width: 360px) {
      display: inline;
      position: relative;
        }
    
        @media screen and (min-width: 1110px){
    display: flex;
        justify-content: space-between;
        }
   
}

.visa-form {
@media screen and (min-width: 360px) {
padding-bottom: 0px;
}
        
@media screen and (min-width: 1110px){
margin-right: 65px;
    padding-left: 27px;
    padding-bottom: 22px;
}
    
}

.text-form {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
color: #FFFFFF;
@media screen and (min-width: 360px) {
margin-bottom: 12px;
font-size: 14px;
line-height: 16px;
    }
    
@media screen and (min-width: 1110px){
margin-bottom: 10px;
font-size: 18px;
line-height: 21px;
        }
}

.visa-form__number {
    background: #2C4D74;
        border: 1px solid #000000;
        @media screen and (min-width: 360px) {
        padding: 6px 9px 6px 9px;
        max-width: 252px;
        height: 27px;
        margin-bottom: 18px;
            }
        
            @media screen and (min-width: 1110px){
    padding: 9px 6px;
        max-width: 194px;
        height: 32px;
        margin-bottom: 20px;
            }
}

.visa-form__number::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #808080;

}

.visa-form__date {
    background: #2C4D74;
        border: 1px solid #000000;
    @media screen and (min-width: 360px) {
     width: 76px;
     height: 27px;
        }
    
        @media screen and (min-width: 1110px){
padding: 9px 6px;
height: 32px;
    width: 67px;
        }
    
   
}

.visa-form__date::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #808080;

}

.master-visa {
@media screen and (min-width: 360px) {
    left: 140px;
        bottom: 2px;
        position: absolute;
        display: flex;
        align-content: stretch;
        flex-direction: row-reverse;
       
    }

    @media screen and (min-width: 1110px) {
    left: 280px;
        bottom: 150px;
        position: absolute;
        display: flex;
     
    }

}

.master {
    display: block;
    background-color: #fff;
    @media screen and (min-width: 360px) {
        max-width: 66px;
        padding: 6px 5px 7px 4px;
        }
    
        @media screen and (min-width: 1110px){
    max-width: 125px;
    margin-right: 13px;
    padding: 18px;
        }
  
}

.visa {
    display: block;
        background-color: #fff;
    @media screen and (min-width: 360px) {
        max-width: 66px;
        padding: 15px 5px;
        margin-right: 12px;
        }
    
        @media screen and (min-width: 1110px){
        max-width: 125px;
        margin-right: 13px;
        padding: 28px 10px;
        }

}

.checkbox-label {
    @media screen and (min-width: 360px) {
    display: none;
    }
    
    @media screen and (min-width: 1110px) {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    bottom: 25px;
    position: absolute;
}
}

.checkbox-input:checked {
    display: block;
    width: 50px;
    height: 50px;
    }


.checkbox-input {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */

    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.checkbox-icon {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;

    margin-right: 5px;

    border: 2px solid black;
    border-radius: 3px;

    transition: transform 250ms linear;
}


.checkbox-input:checked+.checkbox-icon {
    transform: scale(1.2);

    background-image: url(../images/icon/full-check.svg);
    background-color: blue;
    border-color: blue;
    background-size: contain;
    background-origin: border-box;
}


.checkbox-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
    transition: transform 250ms linear;
}

.checkbox-input:checked~.checkbox-text {
    transform: translateX(20px);
}



.title-form{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
color: #FFFFFF;
@media screen and (min-width: 360px) {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
    }

    @media screen and (min-width: 1110px){
font-size: 36px;
line-height: 42px;
margin-left: 150px;
margin-bottom: 11px;
    }
}

.modal__logo{
    @media screen and (min-width: 360px){
        display: none;
    }
    @media screen and (min-width: 1110px){
        margin-right: 55px;
        display: block;
         }
    

}

.modal__logo-text{
    @media screen and (min-width: 360px){
        display: none;
    }
        @media screen and (min-width: 1110px){
font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;

    color: #FFFFFF;
    display: block;
        }
}

.final-order{
    @media screen and (min-width: 360px) {
    margin-left: 35px;
        }
    
        @media screen and (min-width: 1110px){
margin-left: 162px;
        }   
}

.final-order__inpur{
display: block;
background: #FFFFFF;
border: 1px solid #000000;
border-radius: 50px;
@media screen and (min-width: 360px) {
min-width: 242px;
height: 35px;
padding: 7px 2px 10px 9px;
margin-bottom: 15px;
 }
    
@media screen and (min-width: 1110px){
margin-bottom: 28px;
    min-width: 580px;
    height: 50px;
    padding: 10px 108px 8px 22px;
        }  
}

.final-order__inpur::placeholder{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: #959595;
@media screen and (min-width: 360px) {
font-size: 18px;
    line-height: 21px;
        }
    
        @media screen and (min-width: 1110px){
    font-size: 28px;
    line-height: 33px;
        }   
        
}

.nike-form{
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    @media screen and (min-width: 360px) {
    width: 117px;
    padding: 14px 3px;
    margin-left: 100px;
    margin-bottom: 10px;
        }
    
        @media screen and (min-width: 1110px){
    width: 220px;
    padding: 26px 7px 24px 8px;
    margin-left: 350px;
    margin-bottom: 10px;
        }
    
}

.nike-form__price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    
@media screen and (min-width: 360px) {
font-size: 24px;
    line-height: 28px;
    margin-left: 130px;
    }

    @media screen and (min-width: 1110px){
    margin-left: 421px;
    font-size: 28px;
        line-height: 33px;
    }
}

.button--form{   
@media screen and (min-width: 360px) {
margin-top: -15px;
margin-left: 25px;
    }

    @media screen and (min-width: 1110px){
margin-left: 325px;
    }
   
}



