.storage{
    @media screen and (min-width: 360px) {
background-image: url(../images/mobile/fl2-bg-3.png) ,url(../images/mobile/fl-bg-3.png),url(../images/mobile/bg-3.png);
background-repeat: no-repeat;
background-position: bottom 0px left 0px, bottom 0px right 0px,center;
background-size: 96px, 140px, cover;
padding-top: 20px;
padding-bottom: 20px;
    }
        @media screen and (min-width: 1110px) {
    padding-top: 63px;
    padding-bottom: 82px;
    height: 606px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background-image: url(../images/desktop/group-2-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
}
.storage__group{
    position: relative;
}

.storage__group-text{

position: absolute;
font-family: 'Playfair Display';
color: var(--text-color);
@media screen and (min-width: 360px){
    font-size: 14px;
        line-height: 19px;
        margin-left: 65px;
        margin-top: 240px;
}
@media screen and (min-width: 1110px){
margin-left: 850px;
margin-top: -10px;
font-size: 28px;
line-height: 37px;
}

}

.storage__group-vector{
position: absolute;
@media screen and (min-width: 360px) {
height: 145px;
    transform: rotate(180deg);
    margin-left: 60px;
    margin-top: -20px;
    margin-right: 20px;
    width: 185px;
}
@media screen and (min-width: 1110px) {
transform: rotate(-1deg);
width: 403px;
height: 183px;
margin-top: -370px;
margin-left: 680px;
}

}

.storage__group-mask{
position: absolute;
border: 1px solid white;
border-radius: 50%;
@media screen and (min-width: 360px){
    width: 45px;
margin-left: 228px;
    margin-top: -68px;
    margin-top: -60px;
}
@media screen and (min-width: 1110px) {
    width: 130px;
margin-left: 600px;
    margin-top: -200px;
}


}

.storage__button {
    z-index: 1;
    background: linear-gradient(91.33deg, #8E32C6 15.44%, #D600C0 69.67%);
    
        border: none;
        border-radius: 15px;
        cursor: pointer;
        color: #FFFFFF;
    
        position: relative;
    @media screen and (min-width: 360px){
width: 305px;
font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 6px;
    margin-top: 150px;
    }
        @media screen and (min-width: 1110px){

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    width: 715px;

    padding: 26px 64px;
    margin-right: 220px;
    margin-top: 10px;

   
        }
   
&::before,
&::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 15px;
    height: 100%;
    background: transparent;
    transition: all 1s ease-out;
    opacity: 0;
}

&:hover::before {
    opacity: 1;
    z-index: -1;
    bottom: -4px;
    left: 4px;
    width: calc(100% - 8px);
    background: linear-gradient(91.33deg, rgba(142, 50, 198, 0.6) 15.44%, rgba(214, 0, 192, 0.6) 69.67%);
}

&:hover::after {
    opacity: 1;
    z-index: -2;
    bottom: -8px;
    left: 8px;
    width: calc(100% - 16px);
    background: linear-gradient(91.33deg, rgba(142, 50, 198, 0.6) 15.44%, rgba(214, 0, 192, 0.6) 69.67%);
}
}